services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - app-net

  auth:
    build:
      context: ./backend
      dockerfile: auth/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  quiz:
    build:
      context: ./backend
      dockerfile: quiz/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  ai:
    build:
      context: ./backend
      dockerfile: ai/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  analytics:
    build:
      context: ./backend
      dockerfile: analytics/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  notification:
    build:
      context: ./backend
      dockerfile: notification/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  profile:
    build:
      context: ./backend
      dockerfile: profile/Dockerfile
    depends_on:
      - rabbitmq
    networks:
      - app-net

  api:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
    networks:
      - app-net

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
